.appFlexRow {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.appFlexColumn {
    display: flex;
    flex-direction: column;
    gap: 16px; 
}

.dialog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-container {
    padding-top: 1rem;
}