<form [formGroup]="loginForm" class="login-container" (submit)="loginUser()">
    <mat-form-field>
        <mat-label>User Name</mat-label>
        <input matInput name="userName" formControlName="userName"/>
    </mat-form-field>
     <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput name="password" formControlName="password"/>
    </mat-form-field>
    <mat-error *ngIf="errorMessage$ | async as errorMsg">{{errorMsg}}</mat-error>
    <button mat-button mat-stroked-button  color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
</form>