<ng-container *ngIf="loading$ | async; else userListTemplate">
    <mat-spinner></mat-spinner>
</ng-container>
 <ng-container *ngIf="error$ | async as error">
    <div> {{ error }} </div>
 </ng-container>

<ng-template #userListTemplate>
    <mat-list class="user-list" role="list" *ngIf="userList$ | async as users">
        <div *ngIf="users?.length === 0;else userTemplate">
            <span>No record found</span>
        </div>
       <ng-template #userTemplate>
            <mat-list-item *ngFor="let user of users;trackBy:trackByUserId">
                <span matListItemTitle>{{user?.name}}</span>
                <span matListItemLine>{{user.email}}</span>
                <button mat-button color="primary" class="show-user" (click)="showUserInfo(user)">User Info</button>
            </mat-list-item>
       </ng-template>
        
    </mat-list>
</ng-template>






<div class="action-container">
    <button mat-flat-button color="primary" (click)="addUser = !addUser">Add New User</button>
    <button>Update User</button>
</div>

<app-add-user *ngIf="addUser"></app-add-user>