<app-user-details *ngIf="selectedUser" [selectedUser]="selectedUser"></app-user-details>
<div class="action-container">
    <button mat-flat-button color="primary">Add New User</button>
    <button>Update User</button>
</div>
<mat-list class="user-list" role="list" *ngIf="userList$ | async as users">
    <mat-list-item *ngFor="let user of users;trackBy:trackByUserId">
        <span matListItemTitle>{{user?.name}}</span>
        <span matListItemLine>{{user.email}}</span>
        <button class="show-user" (click)="showUserInfo(user)">Show User Info</button>
    </mat-list-item>
</mat-list>


